<%= form_with(model: home) do |form| %>
  <% if home.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(home.errors.count, "error") %> prohibited this home from being saved:</h2>

      <ul>
        <% home.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  

  <div>
 <div class="form-group">
    <label><%=form.label :ten144,"ten144"%></label>
    <%=form.text_field :ten144, class:"form-control"%>
  </div>
  <div class="form-group">
    <label ><%=form.label :dacdiem144,"dacdiem144"%></label>
     <%=form.text_field :dacdiem144, class:"form-control"%>
  </div>
  <div class="form-group">
    <label ><%=form.label :mausac144,"mausac144"%></label>
     <%=form.text_field :mausac144, class:"form-control"%>
  </div>
  <div class="form-group">
    <label ><%=form.label :kichthuoc144,"kichthuoc144"%></label>
     <%=form.text_field :kichthuoc144, class:"form-control"%>
  </div>
  <div class="form-group">
    <label ><%=form.label :taptinhsinhhoat144,"taptinhsinhhoat144"%></label>
     <%=form.text_field :taptinhsinhhoat144, class:"form-control"%>
  </div>
  <div class="form-group">
    <label ><%=form.label :noisong144,"noisong144"%></label>
     <%=form.text_field :noisong144, class:"form-control"%>
  </div>

  <div class="actions", class: "btn btn-outline-light btn-lg px-5">
    <%= form.submit%>
     </div>

  </div>
<% end %>



